VITE_SUPABASE_URL="https://xxx.supabase.co"
VITE_SUPABASE_ANON_KEY=""
VITE_APP_URL="http://localhost:5173"

# Discord role IDs
VITE_DISCORD_ROLE_RESPONSABLE=""
VITE_DISCORD_ROLE_RESPONSABLE_MJ=""
VITE_DISCORD_ROLE_RESPONSABLE_LORE="1324443544311562290"
VITE_DISCORD_ROLE_RESPONSABLE_BDM="1498316267411738735"
VITE_DISCORD_ROLE_ANIMATEUR=""
VITE_DISCORD_ROLE_SENIOR=""
VITE_DISCORD_ROLE_MJ=""
VITE_DISCORD_ROLE_MJ_SENIOR=""
VITE_DISCORD_ROLE_LORE="1324443462061522974"
VITE_DISCORD_ROLE_BDM="1498316348735099010"
